@model AirlinesWay.Application.Models.CitiesResponseModel
@* @model AirlinesWay.Application.Models.FlightGetOptimizeWayModel *@

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm("GetOptimizedFights", "Flights", FormMethod.Post))
{
    <div class="form-group">
        <label class="control-label">Select Started City</label>
        @Html.DropDownListFor(m => m.StartedCityId,Model.Cities)

        <label class="control-label">Select Finished City</label>
                @Html.DropDownListFor(m => m.FinishedCityId, Model.Cities)
        
        <label class="control-label">Which method do you select for optimize rows</label>
                        @Html.DropDownListFor(m => m.FilterType, new SelectListItem[]
    {
        new ()
        {
            Text = "By Value",
            Value = "1"
        },
        new ()
        {
            Text = "By Time Duration",
            Value = "2"
        },
        new ()
        {
            Text = "By Road Length",
            Value = "3"
        }
    })
        <text> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</text>
            <td>@Html.ActionLink("Please Add AirLines", "Index", "AirLine")</td>
            <td>@Html.ActionLink("Please Add Flights", "Index", "Flights")</td>
    </div>

    <button type="submit">Find</button>
}




