@model AirlinesWay.Application.Models.FlightRequestModel

@{
    ViewBag.Title = "title flights";
}

<h2>Add Flight</h2>

@using (Html.BeginForm("AddFlight", "Flights", FormMethod.Post, new {id="frmRegister"})) {

    @Html.DropDownListFor(m => m.AirCompanyId, Model.AirCompanies, "Select AirCompany")

    @Html.DropDownListFor(m => m.AirlineId, Model.AirLines.Select(x => new SelectListItem() {
        Text = x.Name,
        Value = x.Id.ToString()}))

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)

    @Html.LabelFor(m => m.Code)
    @Html.TextBoxFor(m => m.Code)

    @Html.LabelFor(m => m.StartDateTime)
    @Html.TextBoxFor(model => model.StartDateTime, new { type = "datetime" })
    
    @Html.LabelFor(m => m.TimeDuration)
    @Html.TextBoxFor(model => model.TimeDuration)

    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price)

<input type='Submit' value='Register' id= "btnRegister" />
}
